

<%- include("partials/headerLoggedin") -%>
<div class="row">
<%for(var i = 0; i < frndshelf.length; i++) {%>
    <div class ="col-lg-4 col-md-6 ">
  <div class="container mt-5">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= frndshelf[i].book_title%></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Author: <%=frndshelf[i].book_author%></li>
    </ul>
    <div class="card-body">
      <a href="/reviews/:<%=frndshelf[i].ISBN%>" class="btn btn-primary">Check reviews </a>
    </div>
  </div>
</div>
</div>
<%}%>
</div>

<%- include("partials/footer") -%>