<% if(check === true) { %>
<%- include("partials/headerLoggedin"); -%>
<% } else { %>
<%- include("partials/header"); -%>
<% } %>
<% for(var i = 0; i < booksArray.length; i++) { %>
  <div class="container mt-5">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= booksArray[i].book_title%></h5>
    <%for(var j = 0; j < tagsArray[i].length; j++) {%>
      <span class="badge bg-secondary"><%=tagsArray[i][j]%></span>
    <%}%>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Author: <%=booksArray[i].book_author%></li>
    <li class="list-group-item">Rating: <%=ratings[i]%></li>
  </ul>
  <div class="card-body">
    <a href="/issue/:<%=booksArray[i].ISBN%>" class="btn btn-primary"style="margin-left:6%">Issue ?</a>
    <a href="/addshelf/:<%=booksArray[i].ISBN%>" class="btn btn-primary"style="margin-right:2%;margin-left:8%"> Add to shelf? </a>
    <a href="/reviews/:<%=booksArray[i].ISBN%>" class="btn btn-primary"style="margin-top:2%;margin-left:6% ">Check reviews </a>
  </div>
</div>
</div>
<% } %>

<%- include("partials/footer"); -%>